@font-face {
  font-family: seMyeongjo;
  src:url('../font/SM3SPmuSE-Regular-FD1.eot');
  src:url('../font/SM3SPmuSE-Regular-FD1.eot?#iefix') format('embedded-opentype'),
  url('../font/SM3SPmuSE-Regular-FD1.woff') format('woff'),
  url('../font/SM3SPmuSE-Regular-FD1.ttf') format('truetype');
  src:local(※), url('../font/SM3SPmuSE-Regular-FD1.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: tGodic;
  src:url('../font/SM3SPgoT-Regular-FD1.eot');
  src:url('../font/SM3SPgoT-Regular-FD1.eot?#iefix') format('embedded-opentype'),
  url('../font/SM3SPgoT-Regular-FD1.woff') format('woff'),
  url('../font/SM3SPgoT-Regular-FD1.ttf') format('truetype');
  src:local(※), url('../font/SM3SPgoT-Regular-FD1.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
html{
  width:100%;
  height:100%;
}
body{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  word-break: keep-all;
/*  cursor: url('../images/wrench.gif'), pointer;*/
}
.main_container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 0 0 25px;
  font-family: tGodic;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
}
#logo{
  cursor: url('../images/wrench.gif'), pointer;
}
.menu_wrapper{
  position: fixed;
  width: 35%;
  height: 100%;
  top: 100px;
  left: 0;
}
.menu_wrapper ul{
  padding: 0 0 0 40px;
  margin: 0 !important;
}
.menu_wrapper li{
  font-family: tGodic;
  font-style: normal;
  font-weight: normal;
  font-size: .83rem;
  letter-spacing: -.03rem;
  line-height: 1.3rem;
  list-style: none;
}
.menu_wrapper li span{
  cursor: pointer;
}
.content_wrapper{
  position: absolute;
  width: 55%;
  top: 100px;
  left: 35%;
}
#content_introduce{
  display: none;
  font-family: "seMyeongjo";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: -.06rem;
  line-height: 1.6rem;
}
#content_products{
  display: none;
  font-family: "seMyeongjo";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  letter-spacing: -.06rem;
  line-height: 1.6rem;
}
.credit{
  line-height: 1rem;
}
a{
  font-size: .8rem;
  text-decoration: none;
  border-bottom: .85px solid;
}
a:visited{
  color: black;
  text-decoration: none;
  border-bottom: .85px solid;
}